@{
    ViewBag.Title = "系统首页";
}

<div style="height: 150px;">
    <div class="panel panel-default">
        <div class="panel-body" id="infobroad">

        </div>
    </div>
</div>
<div id="mapContainer"></div>

@section scripts{
    <script type="text/javascript" src="/Content/Common/MapManipulation.js"></script>
    <script type="text/javascript" src="/Content/Page/Home.js"></script>
}