<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="VehicleDustMonitor.VehicleDustMonitor" android:versionCode="5" android:versionName="1.32" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="16" />
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:label="卫东车载扬尘监控" android:icon="@drawable/Icon" android:theme="@style/SHWDTech.Theme.Light.NoActionBar"></application>
</manifest>