
@{
    ViewBag.Title = "查询导出";
}

<div>
    <form class="form-inline">
        <div class="form-group">
            <label>选择污染物类型：</label>
            <select class="form-control PollutantType">
                <option value="PM">颗粒物</option>
                <option value="NOI">噪音</option>
            </select>
            <label>选择统计范围：</label>
            <select class="form-control daterange">
                <option value="LW">最近一周</option>
                <option value="LM">最近一月</option>
                <option value="LY">最近一年</option>
                <option value="CUS">指定时间</option>
            </select>
            <div id="dateQuery">
                <div id="date-selecter" class="input-group">
                    <div class='input-group date' id='startDate'>
                        <input type='text' class="form-control" />
                        <span class="glyphicon glyphicon-calendar input-group-addon"></span>
                    </div>
                    <span> - </span>
                    <div class='input-group date' id='endDate'>
                        <input type='text' class="form-control" />
                        <span class="glyphicon glyphicon-calendar input-group-addon"></span>
                    </div>
                </div>
                <input type="button" class="btn btn-success" value="查询" id="customQuery" />
            </div>
        </div>
    </form>
</div>
<hr />
<div style="display: flex;">
    <div class="chartWarpper">
        <div id="avgChart"></div>
    </div>
</div>

@section css{
    @Styles.Render("~/Content/datetimepickercss")
    <style type="text/css">
        html > /**/ body #dateQuery {
            display: none;
        }

        html > /**/ body #date-selecter {
            margin-right: 20px;
        }

        html > /**/ body #avgChart {
            width: 800px;
            height: 550px;
            display: inline-table;
        }

        html > /**/ body #avgTable {
            width: 400px;
            float: right;
            display: inline-table;
            vertical-align: top;
        }
    </style>
}

@section scripts{
    @Scripts.Render("~/bundles/datetimepicker")
    <script type="text/javascript" src="/Scripts/Utility/echarts.js"></script>
    <script type="text/javascript" src="/Scripts/Common/SetUpCharts.js"></script>
    <script type="text/javascript" src="/Scripts/Monitor/StatTotal.js"></script>
}