
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>StatViewHikSecond</title>
</head>
<body>
    <script type="text/javascript">
       var StatMonitor = document.getElementById('StatMonitor');

	   function SetUp(){
		   StatMonitor.SetupCamera('c5db51b504294b648353650c299a055a', '0ZDXAF', '588101720');
	   }

	   function Move(cmd){
	       StatMonitor.ControlPlatform(cmd);
	   }

	   function Stop(){
	       StatMonitor.StopControlPlatform();
	   }
    </script>
<div>
    <object classid="clsid:41353907-A6CF-4BDF-9AE0-EB06F8C48414"
            width="800" height="600" id="StatMonitor"></object>
    <form id="form1" runat="server">
        <input type="button" onmousedown="StatMonitor.ControlPlatform('UP')" onmouseup="Stop()" value="上">
        <input type="button" onmousedown="StatMonitor.ControlPlatform('DOWN')" onmouseup="Stop()" value="下">
        <input type="button" onmousedown="StatMonitor.ControlPlatform('LEFT')" onmouseup="Stop()" value="左">
        <input type="button" onmousedown="StatMonitor.ControlPlatform('RIGHT')" onmouseup="Stop()" value="右">
        <input type="button" onmousedown="StatMonitor.ControlPlatform('ZOOMIN')" onmouseup="Stop()" value="近景">
        <input type="button" onmousedown="StatMonitor.ControlPlatform('ZOOMOUT')" onmouseup="Stop()" value="远景">
    </form>
</div>
</body>
</html>
