
@{
    ViewBag.Title = "工程实时状况查看";
}

<div style="position: relative;">
    <input type="hidden" value="@ViewBag.CameraId" id="cameraId"/>
    <div style="width: 400px; padding-left: 30px;" class="form-inline">
        <div class="form-group" style="margin-bottom: 30px;">
            <input type="button" class="form-control camerabtn" value="近景" onmousedown="Near()" onmouseup="PTZCtrlStop(2)"/>
            <input type="button" class="form-control camerabtn" value="上" onmousedown="Up()" onmouseup="PTZCtrlStop(6)" onmouseout="PTZCtrlStop(6)"/>
            <input type="button" class="form-control camerabtn" value="远景" onmousedown="Far()" onmouseup="PTZCtrlStop(3)"/>
        </div>
        <div style="margin-bottom: 30px;">
            <input type="button" class="form-control camerabtn" value="左" onmousedown="Left()" onmouseup="PTZCtrlStop(12)" onmouseout="PTZCtrlStop(12)"/>
            <input type="button" class="form-control camerabtn" value="开始预览" onmousedown="
Start()" id="btnStart"/>
            <input type="button" class="form-control camerabtn" value="右" onmousedown="Right()" onmouseup="PTZCtrlStop(8)" onmouseout="PTZCtrlStop(8)"/>
        </div>
        <div>
            <input type="button" class="form-control camerabtn" value=""/>
            <input type="button" class="form-control camerabtn" value="下" onmousedown="Down()" onmouseup="PTZCtrlStop(10)" onmouseout="PTZCtrlStop(10)"/>
            <input type="button" class="form-control camerabtn" value=""/>
        </div>
    </div>
    <div style="position: absolute; top: 0; left: 380px; right: 15px;">
        <div id="ocxAlarm" style="display: none;">
            <p>查看视频请先安装视频插件，<span><a href="/Resources/WebOCX.exe">点击此处下载安装</a></span>。<span style="color: red;">并以管理员权限运行安装。</span></p>
        </div>
        <div>
            <object classid='clsid:260AFF04-6C9E-4047-AD26-76C81E44875A' style="width: 100%; height: 500px" id='StatViewer' name='StatViewer'></object>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/Page/StatViewCircle.js"></script>
}