.infoWrap {
    position: relative;
    height: 150px;
    overflow-x: hidden;
    margin:15px 40px 15px 40px
}

#infobroad {
    position: absolute;
    display: flex;
}

#infobroad > ul {
    float: left;
    padding: 5px;
    margin: 0 20px 0 0;
    list-style: none;
}

ul li.title {
    text-align: left;
    font-size: 18px;
    color: #1abc9c;
    min-width: 160px;
    margin-bottom: 10px;
}

ul li {
    margin-bottom: 3px;
}

li span.text {
    text-align: left;   
    display: inline-block;
}

li span.num {
    float: right;
    text-align: right;
    display: inline-block;
}

.go-arrow {
    width: 30px;
    height: 120px;
    margin: 0 5px 0 5px;
}

.go-arrow:hover {
    background-color: #e7e7e7;
    cursor: pointer;
}