@model SHEP_Platform.Models.Admin.CameraManageViewModel
@{
    ViewBag.Title = "摄像头管理";
}

<table class="table table-bordered table-hover">
    <colgroup style="width: 300px;"></colgroup>
    <colgroup style="width: 300px;"></colgroup>
    <colgroup style="width: 150px;"></colgroup>
    <thead>
        <tr>
            <td>摄像头名称</td>
            <td>序列号</td>
            <td>操作</td>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var camera in Model.Cameras)
            {
                <tr id="@camera.Id">
                    <td>@camera.CameraName</td>
                    <td>@camera.UserName</td>
                    <td>
                        <a href="/Admin/Camera/@camera.Id"><span class="glyphicon glyphicon-pencil"></span>更新</a><span> - </span>
                        <a href="javascript:delConfirm('@camera.Id')"><span class="glyphicon glyphicon-remove"></span>删除</a><span> - </span>
                        <a href="/Monitor/StatViewHikSecond?id=@camera.UserName"><span class="glyphicon glyphicon-facetime-video"></span>查看</a>
                    </td>
                </tr>
                            }
        }
    </tbody>
</table>

@section scripts{
    <script type="text/javascript">
        var delConfirm = function (id) {
            if (confirm('确定删除该用户吗？')) {
                $.get('/Admin/CameraDelete/' + id, null, function (ret) {
                    if (ret.msg === 'success') {
                        $('#' + id).remove();
                        msg.info('删除成功');
                    }
                });
            }
        };
    </script>
}
