@using SHEP_Platform.Models.Admin
@model DevManageViewModel

@{
            ViewBag.Title = "系统管理";
}
<link rel="stylesheet" type="text/css" href="~/Content/bootstrap-table.css">
<div>
    @{
        var table = Html.BootstrapTable(null, TablePaginationOption.server, new
        {
            id = "devmgrTable",
            data_page_size = 25,
            data_reset_offset = true,
            data_url = "/Admin/DevsTable",
            data_height = 600
        });
        var builder = table.Column("监测点名称", "StatName")
            .Column("设备名称", "DevCode")
            .Column("设备NODEID", "NodeId")
            .Column("设备状态", "Status")
            .Column("操作")
            .Apply(ColumnOption.formatter, "devMgrFormatter")
            .Apply(ColumnOption.events, "devMgrEvents");
    }
    @(builder)
</div>

@section scripts{
    @Scripts.Render("~/bundles/bootstrap-table")
    <script type="text/javascript">
        window.devMgrFormatter = function (index, row, element) {
            debugger;
            return [
                '<a class="update" href="/Admin/DevEdit/' + row.Id + '" style="margin-right: 5px;">更新</a>',
                '<a class="delete" href="javascript:void(0)">删除</a>'
            ].join('');
        }

        window.devMgrEvents = {
            'click .delete': function (e, value, row) {
                if (confirm('确定删除该设备吗？')) {
                    $.get('/Admin/DevDelete/' + row.Id, null, function (ret) {
                        if (ret.msg === 'success') {
                            $('#' + id).remove();
                            msg.info('删除成功');
                        }
                    });
                }
            }
        };

        $(function () {
            $('#devmgrTable').bootstrapTable();
        });
    </script>
}
