@using SHEP_Platform.Models.Admin
@model StatManageViewModel

@{
    ViewBag.Title = "系统管理";
}

<link rel="stylesheet" type="text/css" href="~/Content/bootstrap-table.css">
<div>
    @{
        var table = Html.BootstrapTable(null, TablePaginationOption.server, new
        {
            id = "statmgrTable",
            data_page_size = 25,
            data_reset_offset = true,
            data_url = "/Admin/StatsTable",
            data_height = 600
        });
        var builder = table.Column("监测点编号", "StatCode")
            .Column("系统编号","Id")
            .Column("监测点名称", "StatName")
            .Column("负责人", "ChargeMan")
            .Column("联系电话", "Telepone")
            .Column("施工单位", "Department")
            .Column("施工地址", "Address")
            .Column("占地面积", "Square")
            .Column("操作")
            .Apply(ColumnOption.width, "120")
            .Apply(ColumnOption.formatter, "statMgrFormatter")
            .Apply(ColumnOption.events, "statMgrEvents");
    }
    @(builder)
</div>

@section scripts{
    @Scripts.Render("~/bundles/bootstrap-table")
    <script type="text/javascript">
        window.statMgrFormatter = function (index, row, element) {
            return [
                '<a class="update" href="/Admin/StatEdit/' + row.Id + '" style="margin-right: 5px;"><span class="glyphicon glyphicon-edit">更新</span></a>',
                '<a class="delete" href="javascript:void(0)"><span class="glyphicon glyphicon-remove">删除</span></a>'
            ].join('');
        }

        window.statMgrEvents = {
            'click .delete': function (e, value, row) {
                if (confirm('确定删除该工地吗？')) {
                    $.get('/Admin/StatDelete/' + row.Id, null, function(ret) {
                        if (ret.msg === 'success') {
                            $('#' + id).remove();
                            msg.info('删除成功');
                        }
                    });
                }
            }
        };

        $(function () {
            $('#statmgrTable').bootstrapTable();
        });
    </script>
}
