@{
    ViewBag.Title = "报警信息详情";
}

<link rel="stylesheet" type="text/css" href="~/Content/bootstrap-table.css">
<div class="modal fade" id="dmrModal" tabindex="-1" role="dialog" aria-labelledby="alarmDetailModallabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="alarmDetailModallabel"></h4>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>
<div>
    @{
        var table = Html.BootstrapTable(null, TablePaginationOption.server, new
        {
            id = "alarmDetailsTable",
            data_page_size = 25,
            data_reset_offset = true,
            data_url = "/Analysis/AlarmDetailsTable",
            data_height = 600
        });
        var builder = table.Column("报警详情")
            .Apply(ColumnOption.formatter, "alarmDetailFormat")
            .Column("操作")
            .Apply(ColumnOption.width, "120")
            .Apply(ColumnOption.formatter, "alarmDetailMgrFormatter")
            .Apply(ColumnOption.events, "operateEvents");
    }
    @(builder)
</div>

@section scripts{
    @Scripts.Render("~/bundles/bootstrap-table")
    <script type="text/javascript">
        var expTypes = {
            0: '设备断线异常',
            1: '颗粒物数据异常',
            2: '噪音夜间超标'
        }
        var getExceptionName = function(exp) {
            return '报警类型：<span style="color:red;">' + expTypes[exp.ExceptionType]
                + '</span>    报警时间：<span style="color:orange;">' + exp.ExceptionTime + '</span>'
                + '    报警相关值：<span style="color: purple;">' + exp.ExceptionValue + '</span>';
        }
        window.alarmDetailFormat = function (index, row, element) {
            return '<div>工地名称：<a href="/Monitor/ActualStatus/"' + row.statId + '>' + row.statName + '</a>  设备名称：' + '<span style="color:blue;">' + row.devName + '</span>' + '</div>'
                + '<div>' + row.exceptions.map(function (exp) { return getExceptionName(exp) }).join('</br>') + '</div>';
        }

        window.alarmDetailMgrFormatter = function(index, row, element) {
            return '<a class="process" href="javascript:void(0)" style="margin-right: 5px;"><span class="glyphicon glyphicon-edit">异常处理完成</span></a>'
        }

        window.operateEvents = {
            'click .process': function (e, value, row) {
                $.get('/Analysis/ProcessDeviceException', { DevId: row.devId, DevName: row.devName, StatId: row.statId, StatName: row.statName}, function (ret) {
                    $('#dmrModal .modal-body').html(ret);
                    $('#dmrModal').modal();
                });
            }
        };

        $(function () {
            $('#alarmDetailsTable').bootstrapTable();
        });
    </script>
}