.navbar-default .navbar-nav > li > a{
    color: #fff;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #fff;
}

.navbar-default .navbar-nav > .active > a {
    color: #fff;
    background-color: rgb(255, 255, 17);
}

.navbar-default .navbar-nav > .active > a:hover {
    background-color: rgb(255, 255, 17);
}

.navbar-default .navbar-nav > .open > a{
    background-color: rgb(255, 255, 17);
}

.navbar-default .navbar-nav > .open > a:hover{
    background-color: rgb(255, 255, 17);
}