<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="ESMonitor2" connectionString="metadata=res://*/Database.EsMonitor.csdl|res://*/Database.EsMonitor.ssdl|res://*/Database.EsMonitor.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=121.40.49.97;initial catalog=ESMonitor2;user id=sa;password=admin!)1;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>